* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #e4ba31;
    color: #000000;
}

.cv-container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 30%;
    background-color: #fff2b8;
    padding: 30px;
}

.profile {
    text-align: center;
    margin-bottom: 30px;
}

.profile img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 3px solid #ff7b00;
}

.profile h1 {
    font-size: 22px;
}

.profile p {
    color: #ff7b00;
}

.sidebar h2 {
    margin-top: 25px;
    margin-bottom: 10px;
    color: #ff7b00;
    font-size: 18px;
}

.sidebar p, .sidebar li {
    font-size: 14px;
    margin-bottom: 6px;
}

.skills ul {
    list-style: none;
}

.content {
    width: 70%;
    padding: 40px;
    background-color: #fff2b8;
}

.content section {
    margin-bottom: 30px;
}

.content h2 {
    color: #ff7b00;
    margin-bottom: 10px;
    border-bottom: 2px solid #ff7b00;
    padding-bottom: 5px;
}

.item {
    margin-bottom: 15px;
}

.item h3 {
    font-size: 16px;
}

.item span {
    font-size: 13px;
    color: #daa700;
}

.item p {
    font-size: 14px;
}